/* Your CSS Code here. */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}